body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('img/background-clouds.jpg');
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
